#htmlbackground{
    background: url("https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44f4aebbd1e1371d5bf7dc22016c5d29&w=1000&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.a {
    width: 50px;
    height:50px;
    /*background-color:white;*/
    position:relative;
    left: 225px;
    top: 125px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/reaction/32/happy-512.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
}

.smallgame{
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
    height: 300px;
    /*background-color: white;*/
    background-image: url("http://buysellgraphic.com/images/graphic_preview/large/simple_cartoon_cloud_and_star_background_23630.jpg");
    margin: auto;
}

.timer{
    position: fixed;
    top: 580px;
    left: 900px;
    width: 50px;
    text-align: right;
    color:gray;
}

.form{
    visibility: hidden;
    z-index: 4;
}

text{
    color: white;
}

datalist{
    margin: auto;
}

.selection{
    margin: auto;
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
    
}
.level{
    color: white;
    margin: auto;
}

ul{
    list-style: none;
}

/*go left*/
#picture{
   width: 190px;
   height: 275px;
   float: left;
   margin: 2.5px;
}
/*go right*/
#moviedescription{
    width: 500px;
    height: 180px;
    float:left;
    position: relative;
    top:2.5%;
    left:5%;
}

#moviecontainer{
    width: 800px;
    height: 283px;
    /*background: gray;*/
    margin: 2.5px;
}

#misc{
    margin: auto;
    text-align: center;
    width: 300px;
    height: 20px;
}

#titleformat{
    margin: center;
    width: 400px;
    height: 250px;
    padding-left: 36%;
}

#searchingformat{
    padding-top:20px;
    padding-left: 40px;
}

ul{
    margin-left:20%;
}